@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fbfbfb;
}

@media only screen and (max-width: 414px) {
  .merah {
    background-image: linear-gradient(#f80000, #680404);
    width: 100%;
    height: 50%;
  }
}
