@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fbfbfb;
  font-family: poppins;
}

@media only screen and (max-width: 414px) {
  .merah {
    background-image: linear-gradient(#f80000, #680404);
    width: 100%;
    height: 406px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 24px;
    color: #ff1d1d;
    margin: 0 20px;
  }
  .text {
    margin-top: 20px;
  }
  .btn-next {
    width: 330px;
    height: 54px;
    background: linear-gradient(90deg, #f80000 0%, #680404 97.42%);
    border-radius: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button .btn-next {
    color: #fdfdfd;
    font-size: 1.3em;
  }
  .button .btn-next:hover {
    opacity: 0.9;
  }
  .button a {
    text-decoration: none;
  }
  .button {
    display: flex;
    justify-content: center;
    margin: 18em 0 1em 0;
  }
  #typedjs p {
    margin: 0 20px;
  }
  #typedjs {
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    position: absolute;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
  }
  .main div {
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 8px 8px 17px #c8c8c8, -8px -8px 17px #ffffff;
    width: 80%;
    height: 15em;
    margin-top: 10px;
  }
}
